<html>
<body>
{{#leftovers}}
<div>
    <span>{{name}}</span>
    <span>{{brand}}</span>
    <span>{{price}}</span>
    <span>{{quantity}}</span>
</div>
{{/leftovers}}
<br>
<a href="/products">Products</a>
</body>
</html>